<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" 
            [(ngModel)]="cliente.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" 
            [(ngModel)]="cliente.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Telefone"
            [(ngModel)]="cliente.tel" name="tel">
        </mat-form-field>

        <!-- <mat-form-field>
            <input matInput placeholder="GRUPO CLIENTE"
            [(ngModel)]="server.cliente">
        </mat-form-field> -->
    </form>
    
    
    <button mat-raised-button (click)="novoCliente()" color="primary">
        Cadastrar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



