<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form class="form-group">
        <mat-form-field>
            <input matInput placeholder="Name" 
            [(ngModel)]="cliente.NAME" name="NAME" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" 
            [(ngModel)]="cliente.EMAIL" name="EMAIL" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Telefone"
            [(ngModel)]="cliente.TEL" name="tel">
        </mat-form-field>
    </form>
    
    
    <button mat-raised-button (click)="novoCliente()" color="primary">
        Cadastrar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



