button {
    margin-top: 10px;
    margin-bottom: 30px;
}

.cliente{
    margin-left: 30px;
}

.full-width-table {
    width: 100%;
  }
  .read {
    margin-right: 12px;
  }
  
  .edit {
    margin-right: 12px;
  }
  
  .delet {
    background-color: red;
  }
  
  .ler {
    margin-left: 12px;
    background-color: blue;
  }