<mat-card>
    <mat-card-title>Excluir Domínio</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="ID" [value]="dominio.ID" name="ID" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="DOMINIO" [value]="dominio.DOMINIO" name="DOMINIO" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="NOME DE USUÁRIO" [value]="dominio.NAMEUSER" name="NAMEUSER"disabled>
        </mat-form-field>

    </form>
    
    
    <button mat-raised-button (click)="DeletarDominio()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



