<mat-card>
    <mat-card-title>Novo Usuário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" 
            [(ngModel)]="usuario.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" 
            [(ngModel)]="usuario.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Senha"
            [(ngModel)]="usuario.password" name="password">
        </mat-form-field>

        <!-- <mat-form-field>
            <input matInput placeholder="GRUPO CLIENTE"
            [(ngModel)]="server.cliente">
        </mat-form-field> -->
    </form>
    
    
    <button mat-raised-button (click)="novoUsuario()" color="primary">
        Cadastrar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



