<mat-card>
    <mat-card-title>Atualizar Servidor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="server.NAME" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="IP" 
            [(ngModel)]="server.IP" name="ip">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>CLIENTE</mat-label>
            <mat-select (selectionChange)="clienteChange($event.value)">
              <mat-option  *ngFor="let cliente of clientes" [value]="cliente.ID">
                {{cliente.NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="SNMP_COMMUNITY"
            [(ngModel)]="server.SNMP" name="snmp">
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>TIPO</mat-label>
            <mat-select (selectionChange)="tipoChange($event.value)">
              <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                {{tipo.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
    
    
    <button mat-raised-button (click)="AtualizarServidor()" color="accent">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



