

<mat-card class="tela">

    <mat-card-title>
        <input class="servidor" matInput [value]="servidor.NAME" name="IDSERVER" disabled>
        NOVO DOMÍNIO
    </mat-card-title>

    <form class="form-group">

        <mat-form-field>
            <input matInput placeholder="IDSERVER" [value]="servidor.ID" name="IDSERVER" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Domínio" 
            [(ngModel)]="dominio.DOMINIO" name="DOMÍNIO" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="IP Externo" 
            [(ngModel)]="dominio.IPEXTERNO" name="IP EXTERNO" required>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Name de Usuário" 
            [(ngModel)]="dominio.NAMEUSER" name="NOME DE USUÁRIO" required>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Senha de Usuario"
            [(ngModel)]="dominio.PASSWORDUSER" name="password" required>
        </mat-form-field>
        

        <mat-list>
            <mat-slide-toggle [(ngModel)]="dominio.DATABASE" name="DATABASE">Banco de Dados</mat-slide-toggle>
        </mat-list>

        <mat-form-field>
            <input matInput placeholder="IP Banco" 
            [(ngModel)]="dominio.IPBD"name="IP DO BD" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>IP DO BANCO</mat-label>
            <mat-select (selectionChange)="ipChange($event.value)">
              <mat-option *ngFor="let tipo of tipos" [value]="tipo.ID">
                {{tipo.NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Nome do Banco" 
            [(ngModel)]="dominio.NAMEBD"name="Nome do BD" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nome de Usuario do Banco" 
            [(ngModel)]="dominio.USERBD"name="USERBD" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Senha do Banco"
            [(ngModel)]="dominio.PASSWORDBD" name="password" required>
        </mat-form-field>

    </form>

    <!-- <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Number</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form> -->

    <!-- BOTÕES AQUI ABAIXO -->

    <button mat-raised-button (click)="novoDominio()" color="primary">
        Adicionar Domínio
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>

<br>
<br>
<br>


