<mat-nav-list class="nav-list"> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <i class="material-icons">dashboard</i>
        <!-- Dashboard -->
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="servers">
        <i class="material-icons">dns</i>
        <!-- Servers -->
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="clientes">
        <i class="material-icons">assignment_ind</i>
        <!-- Clientes -->
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="tarefas">
        <i class="material-icons">assignment_turned_in</i>
        <!-- Tarefas -->
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="alerts">
        <i class="material-icons">warning </i>
        <!-- Alartas -->
    </a>
    <a mat-list-item class="login"> 
        <i class="material-icons">account_circle</i>
        <!-- Users -->
    </a>
</mat-nav-list>