<mat-card>
    <mat-card-title>Excluir Servidor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="id" 
            [value]="server.ID" name="id" disabled>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Name" 
            [value]="server.NAME" name="name" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" 
            [value]="server.IP" name="email" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Telefone"
            [value]="server.SNMP" name="tel" disabled>
        </mat-form-field>
    </form>
    
    
    <button mat-raised-button (click)="DeletarServidor()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



