<mat-card>
    <mat-card-title>Novos IP's</mat-card-title>
    <form class="form-group">

        <mat-form-field>
            <input matInput placeholder="SERVIDOR" [value]="server.ID" name="IDSERV" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="IP INTERNO" 
            [(ngModel)]="ips.IPINTERNOSERV" name="IPINTERNOSERV" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="IP EXTERNO"
            [(ngModel)]="ips.IPEXTERNOSERV" name="IPEXTERNOSERV">
        </mat-form-field>
    </form>
    
    
    <button mat-raised-button (click)="novoIP()" color="primary">
        Adicionar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



