<mat-card>
    <mat-card-title>Novos IP's</mat-card-title>
    <form class="form-group">

        <mat-form-field>
            <input matInput placeholder="ID" [value]="dominio.ID" name="IDDOM" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="IP EXTERNO"
            [(ngModel)]="ips.IPEXTERNODOM" name="IPEXTERNODOM">
        </mat-form-field>
    </form>
    
    
    <button mat-raised-button (click)="novoIP()" color="primary">
        Adicionar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



