
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dominios" class="full-width-table">
    
      <!-- <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.ID}}</td>
      </ng-container> -->
  
      
      <ng-container matColumnDef="DOMINIO">
        <th mat-header-cell *matHeaderCellDef>DOMINIOS</th>
        <td mat-cell *matCellDef="let row">{{row.DOMINIO}}</td>
      </ng-container>
  
     
      <ng-container matColumnDef="USER_N">
        <th mat-header-cell *matHeaderCellDef>NOME DE USUÁRIO</th>
        <td mat-cell *matCellDef="let row">{{row.NAMEUSER}}</td>
      </ng-container>

      
      <ng-container matColumnDef="IP_DB">
        <th mat-header-cell *matHeaderCellDef>IP DO DB</th>
        <td mat-cell *matCellDef="let row">{{row.IPBD}}</td>
      </ng-container>
  
      <ng-container matColumnDef="N_DB">
        <th mat-header-cell *matHeaderCellDef>NOME DB</th>
        <td mat-cell *matCellDef="let row">{{row.NAMEBD}}</td>
      </ng-container>


      <ng-container matColumnDef="ACTION">
        <th mat-header-cell *matHeaderCellDef>AÇÃO</th>
        <td mat-cell *matCellDef="let row">
          
          <a routerLink="/{{this.idserver}}/{{row.ID}}/ips" mat-mini-fab color="primary" class="read">
            <i class="material-icons">menu</i>
          </a>

          <!-- <a routerLink="#" mat-mini-fab class="edit">
            <i class="material-icons">edit</i>
          </a> -->

          <a routerLink="/{{this.idserver}}/delete/dominio/{{row.ID}}" mat-mini-fab class="delet">
            <i class="material-icons">delete</i>
          </a>
          
          
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <button mat-raised-button (click)="navigateToCreateDominio()" color="primary">
    Novo Domínio
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
  