button {
    margin: 10px 10px 0px 0px ;
    
}

.full-width-table {
    width: 100%;
  }
  
  .edit {
    margin-right: 12px;
  }
  
  .delet {
    background-color: red;
  }
  
  .ler {
    margin-left: 12px;
    background-color: blue;
  }