<mat-card>
    <mat-card-title>Novo Servidor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="server.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="IP" 
            [(ngModel)]="server.ip" name="ip">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CLIENTE"
            [(ngModel)]="server.cliente">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="SNMP_COMMUNITY">
        </mat-form-field>

        <!-- <mat-form-field>
            <input matInput placeholder="GRUPO CLIENTE"
            [(ngModel)]="server.cliente">
        </mat-form-field> -->
    </form>
    
    
    <button mat-raised-button (click)="novoServidor()" color="primary">
        Cadastrar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



